# Inherited
/__pycache__
/queries
/recordings
**.pyc
.DS_Store
runner.py
/dist
/dataset


# Python builds, etc
.cache/
*.egg-info/
build/*
dist/*
MANIFEST
*.pyc
.venv

# IDE
.idea/
/.vscode

# docs / jupyter
doc/_build/
doc/notebooks/data/*/
.ipynb_checkpoints/
./notebooks/*.ipynb
./notebooks/data/*/

# coverage / pytest-cov
.coverage
coverage.xml